@charset "UTF-8";
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

main {
  font-family: "cantarell";
}

body {
  background-color: #0e0e0e;
  color: white;
  overflow-x: hidden;
}

.side-nav {
  height: 100%;
  width: 230px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #09101A;
  overflow-x: hidden;
}
.side-nav .logo {
  background: #151C25;
  height: 150px;
  margin-bottom: 60px;
}
.side-nav .logo img {
  margin-top: -30px;
}
.side-nav .menu-nav ul {
  text-align: center;
}
.side-nav .menu-nav ul li {
  margin-bottom: 40px;
  border: 1px solid gray;
  width: 190px;
  height: 60px;
  margin-left: 10%;
  border-radius: 5px;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  column-gap: 15px;
  background: linear-gradient(90deg, #827B7B 30%, transparent 10%);
}
.side-nav .menu-nav ul li img {
  width: 30px;
  margin-left: 3px;
  filter: invert(100%);
}
.side-nav .menu-nav ul li a {
  text-decoration: none;
  font-size: 18px;
  margin-top: 5px;
  color: white;
  text-transform: uppercase;
}
.side-nav .menu-nav ul li:hover {
  border: 1px solid #55E6A5;
  background: linear-gradient(90deg, #55E6A5 30%, transparent 10%);
}
.side-nav .menu-nav ul li:active {
  color: #55E6A5;
}

.circle {
  content: "";
  width: 400px;
  height: 390px;
  border: 35px solid #55E6A5;
  border-radius: 50%;
  position: relative;
  transform: translate(344px, 127px);
}

.profil {
  position: absolute;
  z-index: 1;
  transform: translate(344px, -35px);
}

.social img {
  width: 80px;
  height: 80px;
  overflow-x: hidden;
}

.Facebook {
  position: relative;
  transform: translate(340px, -240px);
  z-index: 3;
}

.linkedin {
  position: relative;
  transform: translate(670px, -370px);
  z-index: 3;
}

.Discord {
  position: relative;
  transform: translate(575px, -80px);
  z-index: 3;
}

.behance {
  position: relative;
  transform: translate(280px, -255px);
  z-index: 3;
}

.right-side {
  margin-left: 300px;
  margin-top: 100px;
  display: flex;
}
.right-side .header-content {
  width: 35%;
  position: absolute;
}
.right-side .header-content h1 {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.right-side .header-content h1 span {
  color: #55E6A5;
}
.right-side .header-content #word {
  margin-left: 50px;
  font-weight: 800;
  margin-top: 15px;
  font-size: 46px;
  color: #55E6A5;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 3px;
  width: auto;
  animation: slidedown 4s infinite;
  -webkit-animation: slidedown 4s infinite;
  -moz-animation: slidedown 4s infinite;
}
@keyframes slidedown {
  0% {
    opacity: 50;
  }
  5% {
    opacity: 0;
    transform: translateY(0.5em);
  }
  7% {
    transform: translateY(-1em);
  }
  10% {
    opacity: 0;
  }
  20% {
    transform: translateY(0);
    opacity: 100;
  }
}
.right-side .header-content p {
  margin-top: 40px;
  margin-bottom: 20px;
}
.right-side .header-content #title2 {
  margin-top: 30px;
}
.right-side .header-content .button {
  margin-top: 70px;
}
.right-side .header-content .button button {
  width: 300px;
  height: 50px;
  border-radius: 10px;
  background: #55E6A5;
  cursor: pointer;
}
.right-side .header-content .button button:hover {
  transform: scale(1.1);
}
.right-side .header-content .button button a {
  color: black;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
}
.right-side .content {
  transform: translate(170px, -80px);
  position: absolute;
}

.about {
  top: 65%;
  position: absolute;
}
.about .title {
  font-size: 32px;
  color: #55E6A5;
  margin-top: 50px;
  margin-bottom: 40px;
  text-transform: uppercase;
}
.about .desc {
  display: flex;
  column-gap: 120px;
}
.about .desc .desc-image {
  width: 60%;
}
.about .desc .desc-image .line-horizontal {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  content: "";
  position: absolute;
  z-index: -1;
}
.about .desc .desc-image .line1 {
  background-color: hsla(153, 74%, 62%, 0.3);
  transform: translate(226px, -170px);
}
.about .desc .desc-image .point-carré {
  display: grid;
  width: 200px;
  grid-template-columns: auto auto auto auto;
  position: absolute;
  transform: translate(690px, -100px);
}
.about .desc .desc-image .point-carré span {
  font-size: 36px;
  font-weight: bolder;
  color: #55E6A5;
  opacity: 0.5;
}
.about .desc .desc-image img {
  width: 300px;
  height: 500px;
  position: absolute;
  border-radius: 10px;
}
.about .desc .desc-image .img-txt {
  width: 300px;
  height: 80px;
  color: black;
  background: #55E6A5;
  padding-top: 20px;
  border-radius: 5px;
  position: relative;
  margin-top: 520px;
  margin-left: 2px;
  visibility: hidden;
  transition: 2s ease;
}
.about .desc .desc-image .img-txt h1 {
  font-size: 22px;
  font-weight: bold;
  margin-left: 30px;
}
.about .desc .desc-image .img-txt h1 span {
  font-weight: bold;
  font-size: 30px;
}
.about .desc .desc-text h1 {
  color: white;
  font-size: 32px;
  margin-bottom: 50px;
}
.about .desc .desc-text p {
  width: 60%;
  text-align: justify;
}
.about .desc .desc-text p a {
  text-decoration: none;
  color: #55E6A5;
}

/*projets*/
.projets {
  margin-bottom: 110px;
  margin-top: 120px;
  height: 400px;
}

.Box-container {
  display: flex;
  column-gap: 80px;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.Box {
  width: 40%;
  height: auto;
  text-align: center;
  border: 2px solid #827B7B;
  border-radius: 15px;
  padding: 20px 25px 20px 25px;
}
.Box:hover {
  background: #151C25;
}
.Box img {
  width: 300px;
  height: 200px;
  margin-bottom: 20px;
}
.Box h3 {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.Box #box-txt {
  margin-bottom: 20px;
  text-align: justify;
  display: none;
}
.Box #box-txt a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}
.Box #box-txt2 {
  margin-bottom: 20px;
  text-align: justify;
  display: none;
}
.Box #box-txt2 a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}
.Box button {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  background: #55E6A5;
  margin-left: 20%;
  color: black;
  font-size: 22px;
  font-weight: bold;
}
.Box button:hover {
  background: #827B7B;
  color: white;
}

/*services*/
.serv-container {
  display: flex;
  column-gap: 15px;
}

.services .card-serv {
  width: 30%;
  height: auto;
  text-align: center;
  border: 2px solid #55E6A5;
  border-radius: 15px;
  padding: 20px 25px 20px 25px;
}
.services .card-serv:hover {
  border: 2px solid #827B7B;
}
.services .card-serv img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  filter: invert(100%);
}
.services h3 {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.rotate {
  -webkit-animation-name: rotate3D;
  -webkit-animation-duration: 5s;
  animation-name: rotate3D;
  animation-duration: 5s;
}
@-webkit-keyframes rotate3D {
  0% {
    transform: rotateY(30deg);
  }
  25% {
    transform: rotateY(180deg);
  }
  50% {
    transform: rotateY(360deg);
  }
  75% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(30deg);
  }
}
@keyframes rotate3D {
  0% {
    transform: rotateY(30deg);
  }
  25% {
    transform: rotateY(180deg);
  }
  50% {
    transform: rotateY(360deg);
  }
  75% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(30deg);
  }
}

.fb-bg {
  background: rgba(0, 0, 255, 0.3);
  border-radius: 100%;
  box-shadow: 0px 0px 34px rgba(0, 0, 255, 0.7);
  width: 80px;
  height: 80px;
}

.ln-bg {
  background: rgba(0, 162, 255, 0.3);
  border-radius: 100%;
  box-shadow: 0px 0px 34px rgba(0, 162, 255, 0.7);
  width: 80px;
  height: 80px;
}

.dc-bg {
  background: rgba(173, 83, 233, 0.4);
  border-radius: 100%;
  box-shadow: 0px 0px 34px rgba(173, 83, 233, 0.7);
  width: 80px;
  height: 80px;
}

.be-bg {
  background: rgba(0, 132, 255, 0.3);
  border-radius: 100%;
  box-shadow: 0px 0px 34px rgba(0, 132, 255, 0.7);
  width: 80px;
  height: 80px;
}

/*adresse*/
.contact {
  display: flex;
  width: 93%;
}

.adress-container {
  width: 60%;
  margin-top: 70px;
  margin-left: -40px;
  background: #09101A;
  position: relative;
  height: 480px;
  margin-right: -60px;
  padding: 5px 20px 20px 40px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  transition: 2s linear;
}
.adress-container:hover {
  background: #151C25;
}
.adress-container h1 {
  display: flex;
  font-size: 22px;
}
.adress-container .title1 {
  font-size: 36px;
  color: white;
  font-weight: bold;
}
.adress-container p {
  width: 100%;
  margin-top: 20px;
  text-align: justify;
}

.adress-content {
  margin-top: 20%;
}

.adress {
  display: flex;
  column-gap: 20px;
}
.adress .h2 {
  display: block;
}
.adress img {
  width: 20px;
  height: 20px;
  filter: invert(100%);
}

.form {
  width: 500px;
  margin-top: 70px;
  margin-left: 60px;
  position: relative;
  margin-bottom: 100px;
  background-color: rgb(20, 20, 26);
  padding: 25px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: 2s linear;
}
.form:hover {
  background: #151C25;
}

.inputs {
  text-align: left;
  margin-top: 30px;
}

label, input, button {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  color: white;
}

label {
  margin-bottom: 4px;
}

input::placeholder {
  color: gray;
}

input {
  background: rgba(255, 255, 255, 0);
  width: 100%;
  padding: 10px;
  padding-left: 20px;
  height: 40px;
  border: 1px solid #827B7B;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 20px;
}

form button {
  color: white;
  margin-top: 60px;
  background: #55E6A5;
  height: 40px;
  cursor: pointer;
  font-weight: 900;
  transition: 0.5s;
  border-radius: 5px;
  font-size: 22px;
}
form button a {
  font-size: 22px;
  color: white;
  text-decoration: none;
}
form button:hover {
  transform: scale(1.05);
}

#about {
  margin-top: 20%;
}

@font-face {
  font-family: "cantarell";
  src: url(../fonts/Cantarell-Regular.ttf);
}
@font-face {
  font-family: "cantarell-bold";
  src: url(../fonts/Cantarell-Bold.ttf);
}

/*# sourceMappingURL=style.css.map */
